/* common style */
body {
    font-family: "Open Sans", sans-serif;
    font-family: "Lato", sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    color: rgb(0, 153, 255);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 15px;
}



/* Header Section Style   */
header {
    background-image: url("../banner/banner3.png");
    background-size: cover;
    height: 100%;


    margin-top: 0px;
    padding-right: 5%;
}

.banner-heading {
    padding-top: 200px;
    font-size: 100px;
    font-weight: 700;
}

.banner-heading{
    color: #FFF;
    padding-left: 60%;
    text-align: right;
    margin-bottom: 100px;
}

.banner-discription{
    color: #FFF;
    padding-left: 60%;
    font-size: 20px;
    text-align: right;
    margin-bottom: 100px;
}

#header-btn {
    margin-left: 90%;
    margin-bottom: 200px;
    
}

.banner-container{
    padding-right: 100;
}






/* Main Section Style */
main {
    max-width: 1140px;
    margin: 0 auto;

}


section {
    margin-top: 130px;
}

.my-faliure{
    display: flex;
    justify-content: space-between;
}

.my-faliure img{
    max-height: 400px;
}

.failure-title{
    font-size: 40px;
}

.failure-discription{
    font-size: 20px;
}

/* My Plan Section */
.plan-heading{
    text-align: center;
    padding-bottom: 50px;
}

.plan-element{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.banner{
    background: url("/images/watch.png");
}


/* Footer Section Style */